* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ALL LINKS */
a:link {
  text-decoration: none;
  color:#ff7b87
}

a:visited {
  text-decoration: none;
  color:#ff7b87
}

a:hover {
  text-decoration: none;
  color:#ff7b87
}

a:active {
   text-decoration: none;
   color:#ff7b87
}

body {
  font-family: 'Gowun Dodum', sans-serif;
  background-color: #fffcf3;
  color: #2e2929;
}

/* NAVIGATION BAR */

/* header */
.site-header {
  background-color: #ffebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-circle {
  width: 50px;
  height: 50px;
  background-color: #ff9b9b;
  border-radius: 50%;
}

.logo-area h1 {
  font-family: 'Cookie', cursive;
  color: #ff7b87;
  font-size: 40px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: hsl(0, 100%, 75%);
  font-size: 18px;
}


/* LANDING PAGE */

/* form section, so the mailing list (that doesn't work, but ehh...) */
.form-section {
  background-color: #ffa1ad;
  padding: 20px;
  text-align: center;
}

.mail-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.mail-form input, .mail-form button {
  padding: 8px 12px;
  border: 1px solid #ff9292;
}

.mail-form button {
  background-color: #fffdf2;
}

/* landing page recipe section stuff */
.recipe-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

#landing-recipes-header {
  text-align: center;
  color: #ff7b87;
  padding-top: 20px;
}

.recipe-card {
  width: 150px;
  height: 150px;
  background-color: #ffc7c7;
}

.recipe-card h4 {
  text-align: center;
  font-size: 16px;
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* landing page info section */
.info-section {
  background-color: #d3eebb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
}

.info-image {
  width: 250px;
  height: 250px;
  background-color: #fcfcfc;
}

.info-text {
  width: 400px;
}

.info-section img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


/* STANDARD RECIPE DIRECTORY PAGE for like dessert, dinner, etc. recipes */

/* container for the basic recipe directory page stuff (so "default" look for any kind of recipe category) */
.recipe-directory-container {
  max-width: 1200px;
  margin: 120px auto;   /* space for navbar + center */
  text-align: center;
}

/* page title */
.directory-title {
  font-size: 28px;
  color: #ff8c8c;
  margin-bottom: 40px;
}

/* grid of the recipe cards */
.recipe-directory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;  /* gaps for the rows and the columns for nicer spacing? */
  justify-items: center;
}

/* each recipe card */
.recipe-directory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* image boxes */
.recipe-directory-card img {
  width: 220px;
  height: 260px;
  background: #d3eebb;
  border: 2px solid #969998;
  object-fit: cover;
}

/* text under each box for the recipe cards */
.recipe-directory-card span {
  margin-top: 10px;
  font-size: 18px;
  color: #2e2929;
}

/* DIARY PAGE STUFF */
.main-diary-content {
text-align: center;
padding: 50px 20px;
max-width: 800px;
margin: 0 auto;
}


.main-diary-content h2 {
font-size: 28px;
margin-bottom: 10px;
text-align: center;
color: #ff8c8c;
}


.main-diary-content p.description {
font-size: 16px;
max-width: 650px;
margin: 0 auto 40px;
line-height: 1.6;
text-align: center;
}


.stars {
font-size: 22px;
margin: 40px 0 20px;
text-align: center;
}


ul.diary-list {
text-align: center;
margin: 0 auto;
max-width: 600px;
line-height: 1.8;
list-style-type: none;
}


/* THINGS TO SHARE SECTION (ON DIARY PAGE!!!) */
.share-section {
background-color: #d3eebb;
padding: 60px 20px;
text-align: center;
margin-top: 60px;
}


.share-section h3 {
font-size: 22px;
margin-bottom: 40px;
}

.weeklyshare-caption {
margin-top: 10px;
font-size: 14px;
color: #444;
}

/* CONTACT PAGE */

.contact-wrapper {
max-width: 700px;
margin: 60px auto;
padding: 20px;
text-align: center;
}


.contact-wrapper h2 {
font-size: 28px;
margin-bottom: 10px;
color:  #ff8c8c;
}


.intro {
max-width: 550px;
margin: 0 auto 40px;
line-height: 1.5;
font-size: 16px;
}


.contact-form {
display: flex;
flex-direction: column;
gap: 20px;
}


/* Form Rows */
.row {
display: flex;
gap: 20px;
}


.row input {
flex: 1;
}


/* inputs on the form */
.contact-form input,
.contact-form textarea {
width: 100%;
padding: 12px;
border: 1px solid #e9e9e9;
background-color: #ffffff;
font-size: 15px;
border-radius: 4px;
}


textarea {
min-height: 140px;
}


/* form button */
button {
background-color:  #ff8c8c;
padding: 12px 20px;
border: none;
font-size: 16px;
border-radius: 4px;
}

/* CATEGORY PAGE (Breakfast Recipes, etc.) */


.category-page-wrapper {
  max-width: 1000px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

/* Titles (Browse Recipes by Meal) */
.category-group h2 {
  font-size: 26px;
  margin-bottom: 40px;
  color: #2e2929;
}

/* The grid of categories */
.category-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/* clickable boxes */
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #2e2929;
  width: 160px;
}

/* The boxes for images */
.cat-img {
  width: 160px;
  height: 160px;
  background-color: #ffc2ca;
  border: 2px solid #89c09e;
  overflow: hidden;
}

.cat-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
} 

/* category text  */
.category-card span {
  margin-top: 10px;
  font-size: 17px;
}

/* line between “meal” and “category” groups */
.category-divider {
  border: none;
  border-top: 1px solid #89c09e;
  width: 80%;
  margin: 40px auto;
}

/* INDIVIDUAL RECIPE PAGES */

.recipe-page-wrapper {
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  color: #303030;;
}

/* title & subtitle */
.recipe-title {
  font-size: 32px;
  margin-bottom: 5px;
}

.recipe-subtitle {
  font-size: 16px;
  margin-bottom: 25px;
}

/* main image */
.recipe-main-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: #f38787;
  border: 2px #ff8c8c;;
}

.recipe-caption {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

/* info box */
.recipe-info-box {
  background-color: #d3eebb;
  padding: 30px;
  margin: 40px 0;
  border-radius: 4px;
}

/* two-column rows */
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-item {
  background-color: #ffffff;
  width: 48%;
  padding: 15px;
  text-align: center;
  border: 1px solid #89c09e;
}

.info-item p {
  font-size: 14px;
  margin-bottom: 4px;
}

.info-item span {
  font-size: 15px;
}

/* rating section */
.rating-row {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #89c09e;
}

.rating-label {
  margin-bottom: 8px;
}

.rating-stars {
  font-size: 20px;
  color: #ff8c8c;
  margin-bottom: 10px;
}

.rating-description {
  font-size: 13px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
}

/* section titles */
.recipe-section h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #ff8c8c;
}

/* ingredient list */
.ingredient-list {
  margin-left: 20px;
  margin-bottom: 40px;
}

/* instructions */
.instruction-list {
  margin-left: 20px;
  margin-bottom: 60px;
}

/* BLOG POSTS */
post-wrapper {
display: flex;
justify-content: center;
padding: 2rem;
}


.post-container {
background: #fffcf3;
padding: 2rem;
border-radius: 10px;
max-width: 700px;
}


.post-title {
font-size: 2rem;
margin-bottom: 0.5rem;
}


.post-meta {
color: #ff7c7c;
margin-bottom: 1.5rem;
}


.post-image {
width: 100%;
border-radius: 10px;
margin: 1rem 0;
}


/* RESPONSIVE STUFF FOR RECIPE PAGES */

@media (max-width: 700px) {

  .info-row {
    flex-direction: column;
    gap: 15px;
  }

  .info-item {
    width: 100%;
  }

  .recipe-main-image img {
    height: 260px;
  }
}

@media (max-width: 450px) {
  .recipe-title {
    font-size: 26px;
  }

  .rating-stars {
    font-size: 18px;
  }
}


/* RESPONSIVE STUFF FOR CATEGORY PAGE */

@media (max-width: 700px) {
  .category-card {
    width: 45%;
  }
  .cat-img {
    width: 100%;
    height: 140px;
  }
}

@media (max-width: 450px) {
  .category-card {
    width: 100%;
  }
  .cat-img {
    height: 150px;
  }
}


/* RESPONSIVE STUFF FOR RECIPE GRIDS  */


@media (max-width: 900px) {
.grid-row {
flex-wrap: wrap;
gap: 20px;
}


.recipe-card {
width: 180px;
height: 220px;
}
}


@media (max-width: 600px) {
.category-wrapper h2 {
font-size: 22px;
}


.grid-row {
flex-direction: column;
align-items: center;
gap: 25px;
}


.recipe-card {
width: 70%;
max-width: 260px;
height: 200px;
}
}